body {
  margin: 0;
}

#text-item {
  color: #6f6fec;
}

#lista {
  padding-left: 15px;
}

#row1 {
  background: #0089ff;
  color: white;
  text-align: left;
}

header {
  background-image: url("./img/pattern.png");
  background-size: contain;
  background-color: blue;
  margin: 0;
}

header img {
  width: 200px;
  margin: 30px 100px;
}

main {
  margin: 0 100px;
}





h4 {
  color: rgb(169, 169, 169);
  font-family: "Lato", sans-serif;
}

h3 {
  color: white;
  font-family: "Mukta", sans-serif;
  padding: 10px;
}



table {
  border-spacing: 0;
}



th {
  width: 100px;
}

.title {
  font-family: "Lato", sans-serif;
}

.row {
  background: #00dcff;
}

.first-img {
  background: url("./img/monitor.jpg");
  background-repeat: no-repeat;
  height: 208px;
}

.second-img {
  background: url("./img/graph.jpg");
  background-repeat: no-repeat;
  height: 208px;
}





